:root{
    --white: #FFFFFF;
    --black: #000000;
    --sable: #060606;
    --charcoal: #2E1503;
    --tangerina: #FFAF6D;
    --orange: #FFA500;
    --gris: #c1c1c1;
    --gris-oscuro: #4f4e4e;
}

.bg-black {
    background-color: var(--black);
}
.navbar-dark {
    color: var(--white);

}