:root {
  --white: #FFFFFF;
  --black: #000000;
  --sable: #060606;
  --charcoal: #2E1503;
  --tangerina: #FFAF6D;
  --orange: #FFA500;
  --gris: #c1c1c1;
}

.bg-black {
  background-color: var(--black);
}

/*
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin: 8px;
}

.text-p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 8px;
  text-align: justify;
}

.encargado {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 8px;
}

.footer {
  background-color: var(--black);
  color: var(--white);
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: "columna-1 columna-1" "columna-2 columna-2";
  gap: 1rem;
}

.columna-1, .columna-2 {
  border: 1.5px solid var(--sable);
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
}

.html-css, .sass {
  border: 1px solid var(--gris);
  padding: 10px;
  margin-bottom: 5px;
}

.iconos, .text-i {
  margin: 4px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
