:root {
  --white: #FFFFFF;
  --black: #000000;
  --sable: #060606;
  --charcoal: #2E1503;
  --tangerina: #FFAF6D;
  --orange: #FFA500;
  --gris: #c1c1c1;
  --gris-oscuro: #4f4e4e;
}

.bg-black {
  background-color: var(--black);
}

.navbar-dark {
  color: var(--white);
}

/*
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin: 8px;
}

.text-p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 8px;
  text-align: justify;
}

.encargado {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 8px;
}

.text-curso {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

.mas-cursos {
  background-color: var(--gris-oscuro);
  color: var(--white);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.lista-cursos {
  list-style: circle;
  text-align: left;
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.footer {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.footer .p-derechos {
  margin: 15px;
  padding-left: 150px;
}

.footer .p-item {
  margin: 15px;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.item {
  display: flex;
  padding-right: 150px;
}

.grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: "columna-1 columna-1" "columna-2 columna-2";
  gap: 1rem;
}

/* columna-1 */
.columna-1, .columna-2 {
  border: 1.5px solid var(--sable);
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
}

.html-css, .sass {
  border: 1px solid var(--gris);
  padding: 10px;
  margin-bottom: 5px;
}

.iconos, .text-i {
  margin: 4px;
}

/* columna-2 */
.columna-2 {
  text-align: center;
}

.development {
  border-radius: 50%;
  border: 1px solid var(--black);
  margin: 8px;
}

.header button {
  border: none;
}

.header i {
  border: none;
}

.header i:hover {
  color: var(--tangerina);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .img-hero {
  height: 300px;
}

.formulario {
  display: flex;
  align-items: baseline;
  margin: 15px;
}

.button {
  border-radius: 5px;
  background-color: var(--tangerina);
  color: var(--gris-oscuro);
}

.input {
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .img-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .grid {
    color: #fff;
  }
  .fotter {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
    height: 100px;
  }
}
