
/*
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

.title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 8px;
}

.text-p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 8px;
    text-align: justify;
}

.encargado{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 8px;
}
