

.formulario {
    display: flex;
    align-items: baseline;
    margin: 15px;
}

.button{
    border-radius: 5px;
    background-color: var(--tangerina);
    color: var(--gris-oscuro);
    

    
    
}
.input {
    border-radius: 5px;
}