
.grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "columna-1 columna-1" "columna-2 columna-2";
    gap: 1rem;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }

         

}

.img-html, .img-sass{
    height: 290px;
    width: 600px;
    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        width: 430px;
        height: auto;
       
    }

}
      
/* columna-1 */
%columnas{
    border: 1.5px solid var(--sable);
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}
.columna-1, .columna-2{
    @extend %columnas;
    

}

%cuadros{
    border: 1px solid var(--gris);
    padding: 10px;
    margin-bottom: 5px;
}
.html-css, .sass {
    @extend %cuadros
}
.iconos, .text-i{
    margin: 4px;
    @media only screen and (max-width: 600px) {
        font-size: 20px;
    }
}

/* columna-2 */

.columna-2 {
    text-align: center;
    
    svg {
        path.cog {
            transform-origin: 79% 80%;
            animation-name: spin;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        path.code {
            transform-origin: 79% 79%;
            animation-name: wave;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

        }
    
    } 
}

.development {
    border-radius: 50%;
    border: 1px solid var(--black);
    margin: 8px;
    height: 200px;

    @media only screen and (max-width: 600px) {
        height: 260px;
    }
}

.gif {
    height: 200px;

    @media only screen and (max-width: 600px) {
        height: 280px;
        margin-bottom: 50px;
    }
}
